###############################################################################
# Linguist overrides
###############################################################################

doc/html/* linguist-language=C++
doc/latex/* linguist-language=C++
