###############################################################################
# Linguist overrides
###############################################################################

doc/* linguist-language=C++
